.DocumentMetadata label {
  opacity: 0.4;
  text-transform: uppercase;
  font-size: var(--small-font-size);
}

.DocumentMetadata_languages {
  font-size: var(--small-font-size);
}
.DocumentMetadata .DocumentMetadata_languages label {
  opacity: 0.75;
  text-transform: none !important;
  font-size: var(--small-font-size);
}
