.Header_Nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header_Nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header_Nav > ul {
  padding: 1.5rem 0;
}

.Header_Nav ul li {
  line-height: 2rem;
  padding: 0 1rem;
}

.Header_Nav ul li li {
  padding: 0 0.3rem;
}

.Header {
  max-width: 1320px;
  margin: 0px auto;
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}

.Header nav li a,
.Header nav li.active a,
.Header .home-nav-wrapper a {
  text-decoration: none;
}

.Header .home-nav-wrapper .active a {
  font-weight: bold;
  color: var(--bs-dark);
}

body.navigationSlides .Header {
  display: none;
}

body.navigationSlides .Footer {
  display: none;
}

.home-nav-wrapper {
  display: flex;
  align-items: center;
}
