.Logo {
  cursor: pointer;
}
.Logo svg path {
  /* fill: var(--bs-dark); */
  transition: fill 0.26s ease-in-out;
}
/* .Logo:hover svg path {
  fill: var(--bs-primary);
} */

.Logo:hover svg path.var-color {
  fill: var(--bs-primary-text);
}

.overlay__logo,
.overlay__logo_soah,
.overlay__logos {
  pointer-events: all;
}

.Logo {
  cursor: pointer;
}

.Logo svg text {
  /* font-weight: bold; */
  line-height: 20px;
  font-size: 16px;
  font-family: var(--bs-font-sans-serif);
}

.Logo_mobiletext span {
  /* font-weight: bold; */
  font-size: 16px;
  color: var(--bs-secondary);
  background-color: var(--bs-dark);
  border-radius: 1px;
  padding: 1px 4px 2px;
  line-height: 28px;
}
.Logo svg text::selection {
  background-color: transparent;
}
.Logo svg text::selection,
.Logo_mobiletext span::selection,
.Logo_mobiletext span::-moz-selection {
  background-color: transparent;
}
