.pebble-side-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100px;
  z-index: 2;
  right: 0;
}

.pebble-side-icon {
  align-items: center;
  display: flex;
  transform: rotate(90deg);
  cursor: pointer;
  white-space: nowrap;
}

.pebble-side-icon p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 0.7rem;
  letter-spacing: 0.6rem;
  padding-right: 0.4rem;
}

.pebble-side-icon p:nth-child(3) {
  padding-left: 1rem;
}
