.ModuleTextAnchor {
  /* background: #08d1ab49; */
}

.ModuleTextAnchor.Reference {
  position: relative;
  padding: 0px 2px;
  margin: 0 4px;
  text-decoration: underline;
  /* border: 1px solid; */
  vertical-align: super;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
