.TopDocuments ol {
  list-style-type: none;
  padding: 0;
}
.TopDocuments {
  position: relative;
}
.TopDocuments_verticalLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-20px, 110px) rotate(-90deg);
  height: 20px;
  width: 100px;
  text-align: right;
  transform-origin: left;
  opacity: 0.4;
  font-style: italic;
  font-size: 10px;
}
