@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

.hero {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - 6rem);
  position: relative;

  /* Colors */
  --green-100: hsl(165, 100%, 7%);
  --green-100-a25: hsla(165, 100%, 7%, 0.25);
  --green-500: hsl(166, 29%, 26%);
  --green-500-a25: hsla(166, 29%, 26%, 0.25);
  --green-500-a05: hsla(166, 29%, 26%, 0.05);
  --linen-500: hsl(25, 81%, 94%);

  /* Fonts */
  --text-l: 400 italic 16px 'IBM Plex Serif', sans-serif;
  --text-m: 400 18px 'IBM Plex Serif', sans-serif;
  --text-s: 400 italic 12px 'IBM Plex Serif', sans-serif;
  --heading-l: 400 48px 'IBM Plex Serif', sans-serif;
  --heading-m: 500 24px 'IBM Plex Serif', sans-serif;
}

.hero__canvas-wrapper {
  flex-shrink: 0;
  position: sticky;
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 10rem);
  pointer-events: all;
}
