.Home.page {
  margin-top: 80px;
  margin-bottom: 80px;
}

.Home h2.animated {
  font-weight: bold;
  font-size: 5rem;
  background-image: url('https://i.imgur.com/2TdOqp8.gif');
  /* background-image: url('https://i.imgur.com/U7SCkat.gif'); */
  background-size: 160px 160px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.Home h2 {
  font-weight: bold;
  font-size: 48px;
  color: var(--bs-primary-text);
}

.Home_topStories > ol > li {
  margin: 0.2rem;
  border-radius: 0.2rem;
  position: relative;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Home_topStories > ol > li:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Home_topStories .CoverItems {
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .Home {
    margin-top: 0;
  }
  .Home h2 {
    font-size: 5vw;
  }
}
