.Page h1 {
  color: transparent; /* var(--bs-primary); */
  font-weight: normal;
  font-size: 3.4rem;
  line-height: 1.2em;
  margin-top: var(--size-5);
  margin-bottom: var(--size-5);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--bs-primary-text);
  color: transparent;
  /* var(--bs-primary-text); */
}

.Page p:first-of-type {
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.Page h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.Page h3,
.Page h4 {
  margin-top: 1.75rem;
  font-size: 0.85em;
}

.Page h3 {
  font-weight: bold;
}

@media (min-width: 576px) {
  .Page {
    margin-top: 0;
  }
  .Page h1 {
    font-size: 6rem;
  }
}
