.Page p:first-of-type {
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.Page h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.Page h3,
.Page h4 {
  margin-top: 1.75rem;
  font-size: 0.85em;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.Page h3 {
  font-weight: 600;
  letter-spacing: 0.055em;
}

.Page h3 em {
  font-weight: 750;
  font-style: normal;
}

.Page table td {
  border-bottom: 1px solid var(--primary-color);
  padding: 1rem 0;
  vertical-align: top;
}

.Page table td:first-child {
  color: var(--bs-body-color-transparent);
}
