.Story h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.Story h4 {
  margin-top: 1.5rem;
}

@media (min-width: 576px) {
  .Story h1 {
    margin-bottom: var(--size-5);
  }
  .Story.long-title h1 {
    font-size: 3.5rem;
  }
  .Story.very-long-title h1 {
    font-size: 2.75rem;
  }
}

.Story_TopDocuments h4 {
  font-size: inherit;
}

.Story_TopDocuments ol {
  padding-left: var(--size-3);
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  /* border-left: 1px solid; */
}
.Story_TopDocuments ol li {
  display: inline-block;
  margin: var(--size-3);
}
.Story_StoryModule.no-footnotes .FootnoteDefinition {
  display: none !important;
}

.Story_StoryModule:first-child p {
  font-size: 1.2em;
}

.Story_StoryModule:first-child p > em {
  font-style: normal;
}
