.Story h2 {
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.Story h4 {
  margin-top: 1.5rem;
}

@media (min-width: 576px) {
  .Story {
    margin-top: 0;
  }
  .Story h1 {
    font-size: 6rem;
  }
  .Story.long-title h1 {
    font-size: 3.5rem;
  }
}

.Story_StoryModule.no-footnotes .FootnoteDefinition {
  display: none !important;
}
