.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  padding: 0.25rem;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.button__icon svg {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.2s ease-in-out;
}

.button__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: var(--green-100-a25);
}

.button__icon:hover svg path {
  fill: var(--green-100);
}
