.Pebble__Overlay-label {
  background: var(--linen-500, #fcede2);
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  color: var(--bs-primary-text);
  box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.35);
  opacity: 0;
}

.Pebble__Overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem;
  opacity: 0;
}

.Pebble__message {
  font-size: inherit;
}
.Pebble__createdBy,
.Pebble__createdAt {
  font-size: 0.8em;
}

.Pebble__Overlay-opacityVisible {
  opacity: 1;
  transition: opacity 0.6s;
}

.Pebble__Overlay-opacityHidden {
  opacity: 0;
  transition: opacity 0.6s;
}
