.GalleryOfStories img {
  border-radius: 4px;
  box-shadow: #0000003d 0 3px 8px;
  max-height: 70%;
  max-width: 100%;
}
.GalleryOfStories figcaption {
  border-radius: 4px;
  background: #f7dfd1;
  font-size: smaller;
}
.GalleryOfStorie figure {
  position: relative;
}
.GalleryOfStories img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
