.header-temp {
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem 1rem 3rem;
  align-items: flex-end;
  justify-content: space-between;
}

.header-temp nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.header-temp nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-temp a {
  text-decoration: none;
}
