.MetadataField {
  display: flex;
  align-items: center;
}
.MetadataField label {
  font-family: var(--bs-font-sans-serif-italic);
  opacity: 0.6;
  width: 40%;
  flex-shrink: 1;
  word-break: normal;
  /* text-transform: uppercase;
  font-size: var(--small-font-size); */
  /* display: block; */
  margin-right: var(--size-3);
}
