@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'), url('./fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('./fonts/Inter-Regular.woff?v=3.19') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Italic'), url('./fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
    url('./fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter-Bold'), url('./fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('./fonts/Inter-Bold.woff?v=3.19') format('woff');
}

:root {
  --bs-primary: #61bfad;
  --bs-dark: #212529;
  --bs-primary-text: #3d776c;
  --bs-link-color: #3d776c;
  --bs-link-hover-color: #212529;
  --bs-secondary: #ffefe5;
  --bs-btn-focus-shadow-rgb: #61bfad;
  --small-font-size: 0.8rem;
  --white: white;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-5: 3rem;
  --bs-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bs-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  margin-top: 2rem;
}
.top-page {
  top: 2rem;
}

a {
  color: var(--bs-primary-text);
}

.btn-primary {
  position: relative;
  color: var(--bs-dark);
  border: 2px solid;
  background: var(--bs-secondary);
}
.btn-primary:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-primary:hover::after {
  transform: translate(-10px, -10px);
}
.btn-primary::after {
  position: absolute;
  content: '';
  bottom: -8px;
  left: 5px;
  top: 5px;
  right: -8px;
  border-radius: 0.25rem;
  border: 2px solid var(--bs-primary);
  transition: all 0.25s ease-in-out;

  z-index: -1;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(97 191 173 / 50%);
}

.btn-link:focus {
  box-shadow: none !important;
}

.h-75 {
  height: 75vh !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
.text-secondary {
  color: var(--bs-secondary) !important;
}

nav li.active a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--bs-dark);
}

.breadcrumb-item.active {
  font-weight: normal;
  font-style: italic;
  color: #d7cbc3;
}

a:hover {
  color: var(--bs-dark);
}
